
.chessboard {
   // width: 640px;
   // height: 640px;
   // margin: 20px;
   // border: 25px solid #333;
   width: calc((80px + 1px) * 8);
   margin: 0 auto;
   border: 4px solid black;
}
.black, .white {
    //float: left;
   width: 80px;
   height: 80px;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}
.black {
    background-color: rgb(114, 233, 217);

}
.white {
    background-color: whitesmoke;
}
.row {
    margin: 0;
}