<ng-container *ngIf="products$ | async as products">
  <a class="btn btn-primary" routerLink="/shop/add-product">add product</a>
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Code</th>
      <th>Price</th>
      <th>&nbsp;</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td> {{ product.code }}</td>
        <td> {{ product.price }} </td>
        <td><a class="btn btn-success" [routerLink]="['/','shop','edit-product',product.id]" >Edit</a></td>
      </tr>
    </tbody>
  </table>
</ng-container>
